.profile__info {
  display: grid;
  grid-template-columns: 294px 24px;
  grid-template-areas: 
  "profile__title profile__edit-button"
  "profile__subtitle .";
  column-gap: 18px;
  row-gap: 16px;
  
}